@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

/* line 15, ../scss/login.scss */
html {
  height: 100%;
}

.txt {
  display: block;
}

/* line 20, ../scss/login.scss */
body {
  min-height: 100%;
  position: relative;
  background-color: #1a2021;
  font-family: "Open Sans", sans-serif;
  overflow: hidden; /* blokowanie suwaka pionowego */
}

/* Content */
#login {
  top: calc(40% - 448.8px / 2);
  margin: 0px 0px;
  left: calc(50% - 482.4px / 2);
  background-color: #2d3e3f;
  width: 482.4px;
  min-height: 448.8px;
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 15px 15px 60px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 15px 15px 60px 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 15px 15px 60px 0px;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}

#login form {
  position: absolute;
  width: 100%;
}

#login form #title {
  position: relative;
  text-align: center;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2.5%;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  /* font-variant: small-caps; */
}
/* Input - user name and password */
#login form .champ {
  font-size: 20px;
  border: none;
  padding: 3% 8%;
  padding-right: 10%;
  min-width: 55%;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 5%;
  margin-bottom: 2%;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px;
}

/* Button login and choose */
#login form .btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  background: #c02b40;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  padding: 2.5% 8%;
  margin-top: 5%;
  margin-left: 12%;
  margin-bottom: 5%;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}

#login form .btn:hover {
  background-color: #ffffff;
  color: #c02b40;
  border: 2px solid #c02b40;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(192, 43, 64, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(192, 43, 64, 1);
  box-shadow: 0px 0px 2px 1px rgba(192, 43, 64, 1);
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

/* Input Style */
input:required {
  border-color: none;
  box-shadow: none;
  background: none;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px;
  outline: none;
}

/* Negative state */
input:invalid {
  background: url(../img/wrong.png) 96% center no-repeat white;
}

/* Negative state on focus */
input:focus:invalid {
  background: url(../img/wrong.png) 96% center no-repeat rgb(252, 252, 252);
  -webkit-box-shadow: 0 0 10px #d32e3e;
  -moz-box-shadow: 0 0 10px #d32e3e;
  box-shadow: 0 0 10px #d32e3e;
}

/* Positive state */
input:valid {
  background: url(../img/tick.png) 96% center no-repeat white;
}

/* Positive state on focus */
input:focus:valid {
  background: url(../img/tick.png) 96% center no-repeat white;
  -webkit-box-shadow: 0 0 10px #5fd82f;
  -moz-box-shadow: 0 0 10px #5fd82f;
  box-shadow: 0 0 10px #5fd82f;
}

/* Source http://proto.io/freebies/onoff/  */
.onoffswitch {
  position: relative;
  width: 110px;
  margin-left: 37%;
  margin-top: 0%;
  margin-bottom: 0%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0;
}

/* line 161, ../scss/login.scss */
.onoffswitch-checkbox {
  display: none;
}

/* line 165, ../scss/login.scss */
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
}

/* Animation  User / Admin */
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin, 0.3s, ease-in, 0s;
  -moz-transition: margin, 0.3s, ease-in, 0s;
  -o-transition: margin, 0.3s, ease-in, 0s;
  transition: margin, 0.3s, ease-in, 0s;
}

/* pseudo-elements */
.onoffswitch-inner::before,
.onoffswitch-inner::after {
  float: left;
  width: 50%;
  height: 44px;
  padding: 0;
  line-height: 44px;
  font-size: 15px;
  color: white;
  font-family: "Open sans", Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* User - switch */
.onoffswitch-inner:before {
  content: "User";
  padding-left: 23px;
  background-color: #c02b40;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

/* Admin - switch */
.onoffswitch-inner:after {
  content: "Admin";
  padding-right: 23px;
  background-color: #ffffff;
  color: #c02b40;
  text-align: right;
  border: 2px solid #c02b40;
  border-radius: 3px;
}

/* Switch -  User / Admin */
.onoffswitch-switch {
  width: 12px;
  margin: 10.5px;
  background: #ffffff;
  border: 2px solid #c02b40;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 66px;
  -webkit-transition: all 0.3s ease-in;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

/* Label title on the left side */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* Label title on the right side */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* source https://codepen.io/hendrysadrak/pen/VLMOMJ?editors=1010 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

.anim-text-flow span,
.anim-text-flow-hover:hover span {
  -webkit-animation-name: anim-text-flow-keys;
  animation-name: anim-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

